<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "/static/styles/mainpage.css"/">
<title>
SALES REVENUE PREDICTION 
</title>
</head>
<body>
<div class="title">
<h1> REVENUE PREDICTION </h1>
</div>
<div class="box">
<form action='/predict' method="post">
<input type="text" name="TV" placeholder="Enter money spent on TV Ads" class="form-control" required="required"/><br>
<input type="text" name="Radio" placeholder="Enter money spent on Radio Ads" class="form-control" required="required"/><br>
<input type="text" name="Newspaper" placeholder="Enter money spent on Newspaper Ads" class="form-control" required="required"/><br>
<input type="submit" name="" class="form-control submit" value ="Estimate Revenue">
</form>
</div>
<div class="title">
<h2>
{{predicted_value}}
</h2>
</div>
</body>
</html>


